
        *{
margin: auto;
padding: 0px;
box-sizing: border-box;
        }
        .cal{
            width: 340px;
            height: 500px;
            border: 1px solid black;
        border-radius: 3%;
        background-color:#bdbdbd;
        }
        form{
            width: 94%;
            height: 490px;
            /* border: 1px solid black; */
            margin: 3% 3%;
        }
        .tb1{
            width: 99%;
            height: 20%;
            margin-top: 2%;
         text-align: right;
            font-size: 40px;
        }
        .b1{
            width: 18.75%;
            height: 11.5%;
            margin-top: 1.8%;
            font-size: large;
            background-color: #cccccc;
        }
  